<form method="post" class="w-full flex flex-col items-center">
    <main class="w-full max-w-3xl flex flex-col items-center mt-8 px-4">
        <div class="w-full h-80 mb-8">
            <h1 class="text-4xl font-bold text-center mb-4">Sopa de Letrinhas!</h1>
            <img class="w-full h-full object-cover rounded-lg shadow-lg">
        </div>

        <div class="w-full my-8">
            <label class="text-xl font-semibold">Quais palavras correspondem a imagem?</label>
            <div class="grid grid-cols-2 gap-6 mt-4">
                <div>
                    <label class="bg-blue-800 form-control-container py-4 px-6 rounded-lg shadow-lg text-xl text-center">
                    </label>
                </div>
                <div>
                    <label class="form-control-container py-4 px-6 rounded-lg shadow-lg text-xl text-center">
                    </label>
                </div>
                <div>
                    <label class="form-control-container py-4 px-6 rounded-lg shadow-lg text-xl text-center">
                    </label>
                </div>
            </div>
        </div>

        <div class="text-center mb-8">
            <a class="bg-blue-800 text-white py-4 px-10 rounded-lg shadow-xl hover:bg-blue-900 text-xl mr-10">
                Voltar
            </a>
            <button type="submit" class="bg-green-600 text-white py-4 px-10 rounded-lg shadow-xl hover:bg-green-700 text-xl">
                Terminar teste
            </button>
        </div>
    </main>
</form>