<div class="login">
    <div class="bg_login flex" style=" box-shadow: 0.2rem 1rem 4rem #79797a; min-height: 325px;">
        <div style="
        float: left;
        /* background-color: white; */
        padding: 30px;
        /* width: 400px; */
        min-height: 325px;
        margin: auto;
        ">
            <form novalidate (ngSubmit)="login()" [formGroup]="loginForm">
                <div class="flex flex-column gap-2">
                    <p-floatLabel>
                        <input pInputText id="username" formControlname="userLogin.Email" />
                        <label for="username">Nome de usuário</label>
                    </p-floatLabel> <br>
                    <p-floatLabel>
                        <input type="text">
                        <label>Senha</label>
                    </p-floatLabel>
                </div>
            </form>
        </div>
    </div>
</div>