<div class="login">
    <div class="bg_login flex" style=" box-shadow: 0.2rem 1rem 4rem #0f1016; min-height: 325px;">
        <div style="
        float: right;
        background-color: white;
        padding: 30px;
        width: 400px;
        min-height: 325px;
        margin: auto;
      ">
            <h1>LOGIN</h1>

            <!-- <form novalidate (ngSubmit)="login()" [formGroup]="loginForm">
        <p-messages severity="error" *ngIf="errors.length > 0">
          <ng-template pTemplate>
            <div>
              <label><i class="pi pi-times-circle mr-2" style="font-size: 1.2rem"></i><strong>O formulário contém
                  erros: </strong></label>
              <ul>
                <li *ngFor="let error of errors">{{ error }}</li>
              </ul>
            </div>
          </ng-template>
        </p-messages>

        <div [class]="errors.length > 0 ? 'mb-5' : 'mt-5 mb-5'">
          <label>Usuário</label><br />
          <input class="p-inputtext-sm w-full" id="username" type="text" placeholder="Usuário (requerido)"
            formControlName="username" [ngClass]="{ 'ng-dirty': displayMessage.username }" pInputText />
          <br /><small *ngIf="displayMessage.username" class="p-error" [innerHTML]="displayMessage.username"></small>
          <br />
          <label>Senha</label>
          <input class="p-inputtext-sm w-full" id="password" type="password" placeholder="Senha (requerido)"
            formControlName="password" [ngClass]="{ 'ng-dirty': displayMessage.password }" pInputText />
          <br /><small *ngIf="displayMessage.password" class="p-error" [innerHTML]="displayMessage.password"></small>

          <div class="col-12 mt-5 mb-2 p-0">
            <button pButton pRipple type="submit" label="ENTRAR" class="w-full p-button-raised p-button-success"
              [disabled]="!loginForm.valid"></button>
          </div>
        </div>
      </form> -->
        </div>
    </div>
</div>